.card__btn--close {
    align-items: center;
    display: flex;
    height: 32px;
    justify-content: center;
    position: absolute;
    right: -13px;
    top: -13px;
    width: 32px;

    .line {
        background-color: var(--color-black);
        border-radius: 6px;
        left: 50%;
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%) rotate(45deg);

        &--one {
            width: 16px;
            height: 1.2px;
        }

        &--two {
            width: 1.2px;
            height: 16px;
        }
    }
}