.card__btn--number {
  align-items: center;
  border: 1px solid var(--color-gray);
  border-radius: var(--border-radius-12);
  display: flex;
  height: 48px;
  justify-content: center;
  padding: 15px 27px;
  transition: all 0.35s ease;
  width: 60px;

  &:hover {
    background-color: var(--color-gray);
  }

  &.selected {
    background-color: var(--color-blue);
    color: var(--color-white);
  }
}
